@{
    ViewData["Title"] = "Access Denied";
}

<h2>Access Denied auth controller</h2>
<p>You do not have permission to see this page</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return home</a>